body{
	background-image:url('199215.jpg');
	background-repeat: no-repeat;
	 background-position:center center;	
	 background-size: cover;
}

h1{
    text-align: center;
    font-weight: normal;
    width: 100%;
    color: #26292A;
    font-size: 3.25em;
    font-family: 'Open Sans',sans-serif;
    text-transform: uppercase;
    margin: 0px;
    line-height: 0.6em;
    letter-spacing: 0.05em;

}